// Primary Colors
$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);

// Neutral Colors
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: #f6fbff;

// Font Size
$font-small: 1.6rem;
$font-mid: 3rem;
$font-large: 4rem;
$font-xlarge: 7rem;
